/* -------------- */
/* DEFAULT STYLES */
/* -------------- */
* {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
    border: none;
    text-decoration: none !important;
    scrollbar-width: none; /* HIDE FIREFOX SCROLLBAR */
}

/* HIDE CHROMIUM BASED BROWSERS (CHROME - BRAVE - EDGE...) SCROLLBAR */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::selection {
    color: #000;
    background-color: #0fb;
}

::-moz-selection {
    color: #000;
    background-color: #0fb;
}

body {
    font-family: "Roboto";
    text-align: center;
    background-color: #FFF;
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    text-transform: uppercase;
    margin: 0;
}

h4 {
    margin: 8px 0 0 0;
}

#row {
    color: #fff;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    background-color: #2d4d55;
    margin: -60px auto 30px;
    border-radius: 40px;
    padding: 10px 40px;
}

#gilgeekify {
    width: 256px;
    pointer-events: none;
    user-select: none;
}

.container-item-white {
    padding: 10px 16px;
    background-color: #fffdfa;
}

.container-item {
    padding: 10px 16px;
    background-color: #fffdfa;
    text-align: right;
}

.container-item-grey {
    padding: 10px 16px;
    background-color: #F5F5F5;
}

.border-bottom {
    border-bottom: 1px solid rgb(203 213 225);
}

/* ------------------- */
/* WIDGET */
/* ------------------- */
#price-widget-button {
    visibility: hidden;
    cursor: pointer;
    position: fixed;
    font-size: 70px;
    color: #a3edff;
    left: 20px;
    bottom: 4px;
    z-index: 66;
}

#price-widget-window {
    width: 99%;
    bottom: 30px;
    background-color: #fff;
    background-size: 990px;
    background-attachment: fixed;
    padding: 8px 10px 8px 20px;
    border-radius: 8px;
    overflow-y: scroll;
    transition: 1s;
    text-align: left;
    border: 1px solid rgb(203 213 225);
}

#price-widget-window ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 7px;
    text-align: left;
    font-weight: bold;
}

#price-widget-window li {
    color: #fff;
    margin: 10px 0;
    background-color: #ffffff22;
    border-radius: 8px;
    padding: 9px 6px;
}

.widget-title {
    text-align: left;
}

.label-item {
    font-weight: 600;
    font-size: 10px;
    display: inline-block;
    width: 100px;
}

.bi-x-circle-fill::before {
    background-color: #000;
    border-radius: 50%;
}

.real-price {
    font-size: 32px !important;
    font-weight: bolder !important;
    color: #000 !important;
}

/* --------- */
/* ACCORDION */
/* --------- */
.accordion_price {
    background-color: transparent;
    color: #444444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
}

.panel {
    color: #fff;
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.panel p {
    font-size: 20px;
    font-weight: normal;
    color: #93e9ff;
    margin: 12px 0 0 0;
}

button {
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: bold;
}

/* ---------------------------------- */
/* WIDGET MOBILE VERSION */
/* ---------------------------------- */
@media only screen and (max-width: 800px) {
    #widget-window {
        width: auto;
        height: 50%;
        margin: 0 30px 0 0;
        padding: 10px 20px 10px 32px;
    }

    .accordion {
        font-size: 20px;
    }

    .panel p {
        font-size: 16px;
    }
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */
.slide-in-blurred {
    -webkit-animation: slide-in-blurred 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred {
    0% {
        -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred {
    0% {
        -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slide-out-blurred {
    -webkit-animation: slide-out-blurred 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: slide-out-blurred 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes slide-out-blurred {
    0% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}

@keyframes slide-out-blurred {
    0% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}

.slide-in-to-top {
    -webkit-animation: slide-in-to-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-to-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-to-top {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-to-top {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}